@-webkit-keyframes fadeIn {
  /* line 6, ../../sass/core/anime.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 7, ../../sass/core/anime.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-moz-keyframes fadeIn {
  /* line 10, ../../sass/core/anime.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 11, ../../sass/core/anime.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-o-keyframes fadeIn {
  /* line 14, ../../sass/core/anime.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 15, ../../sass/core/anime.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@keyframes fadeIn {
  /* line 18, ../../sass/core/anime.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 19, ../../sass/core/anime.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-webkit-keyframes fadeOut {
  /* line 25, ../../sass/core/anime.scss */
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  /* line 26, ../../sass/core/anime.scss */
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-moz-keyframes fadeOut {
  /* line 29, ../../sass/core/anime.scss */
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  /* line 30, ../../sass/core/anime.scss */
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-o-keyframes fadeOut {
  /* line 33, ../../sass/core/anime.scss */
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  /* line 34, ../../sass/core/anime.scss */
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes fadeOut {
  /* line 37, ../../sass/core/anime.scss */
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  /* line 38, ../../sass/core/anime.scss */
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-webkit-keyframes slideLeft {
  /* line 44, ../../sass/core/anime.scss */
  0% {
    left: 40px;
  }

  /* line 45, ../../sass/core/anime.scss */
  100% {
    left: 0;
  }
}

@-moz-keyframes slideLeft {
  /* line 48, ../../sass/core/anime.scss */
  0% {
    left: 40px;
  }

  /* line 49, ../../sass/core/anime.scss */
  100% {
    left: 0;
  }
}

@-o-keyframes slideLeft {
  /* line 52, ../../sass/core/anime.scss */
  0% {
    left: 40px;
  }

  /* line 53, ../../sass/core/anime.scss */
  100% {
    left: 0;
  }
}

@keyframes slideLeft {
  /* line 56, ../../sass/core/anime.scss */
  0% {
    left: 40px;
  }

  /* line 57, ../../sass/core/anime.scss */
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideRight {
  /* line 63, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 64, ../../sass/core/anime.scss */
  100% {
    left: -40px;
  }
}

@-moz-keyframes slideRight {
  /* line 67, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 68, ../../sass/core/anime.scss */
  100% {
    left: -40px;
  }
}

@-o-keyframes slideRight {
  /* line 71, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 72, ../../sass/core/anime.scss */
  100% {
    left: -40px;
  }
}

@keyframes slideRight {
  /* line 75, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 76, ../../sass/core/anime.scss */
  100% {
    left: -40px;
  }
}

@-webkit-keyframes slideRightc {
  /* line 82, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 83, ../../sass/core/anime.scss */
  100% {
    left: 40px;
  }
}

@-moz-keyframes slideRightc {
  /* line 86, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 87, ../../sass/core/anime.scss */
  100% {
    left: 40px;
  }
}

@-o-keyframes slideRightc {
  /* line 90, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 91, ../../sass/core/anime.scss */
  100% {
    left: 40px;
  }
}

@keyframes slideRightc {
  /* line 94, ../../sass/core/anime.scss */
  0% {
    left: 0;
  }

  /* line 95, ../../sass/core/anime.scss */
  100% {
    left: 40px;
  }
}

@-webkit-keyframes bgSlide {
  /* line 101, ../../sass/core/anime.scss */
  0% {
    right: -100%;
  }

  /* line 102, ../../sass/core/anime.scss */
  100% {
    right: 0;
  }
}

@-moz-keyframes bgSlide {
  /* line 105, ../../sass/core/anime.scss */
  0% {
    right: -100%;
  }

  /* line 106, ../../sass/core/anime.scss */
  100% {
    right: 0;
  }
}

@-o-keyframes bgSlide {
  /* line 109, ../../sass/core/anime.scss */
  0% {
    right: -100%;
  }

  /* line 110, ../../sass/core/anime.scss */
  100% {
    right: 0;
  }
}

@keyframes bgSlide {
  /* line 113, ../../sass/core/anime.scss */
  0% {
    right: -100%;
  }

  /* line 114, ../../sass/core/anime.scss */
  100% {
    right: 0;
  }
}

@-webkit-keyframes bgSlideSaida {
  /* line 120, ../../sass/core/anime.scss */
  0% {
    right: 0;
  }

  /* line 121, ../../sass/core/anime.scss */
  100% {
    right: 100%;
  }
}

@-moz-keyframes bgSlideSaida {
  /* line 124, ../../sass/core/anime.scss */
  0% {
    right: 0;
  }

  /* line 125, ../../sass/core/anime.scss */
  100% {
    right: 100%;
  }
}

@-o-keyframes bgSlideSaida {
  /* line 128, ../../sass/core/anime.scss */
  0% {
    right: 0;
  }

  /* line 129, ../../sass/core/anime.scss */
  100% {
    right: 100%;
  }
}

@keyframes bgSlideSaida {
  /* line 132, ../../sass/core/anime.scss */
  0% {
    right: 0;
  }

  /* line 133, ../../sass/core/anime.scss */
  100% {
    right: 100%;
  }
}

@-webkit-keyframes tanUlX {
  /* line 139, ../../sass/core/anime.scss */
  0% {
    width: 0;
  }

  /* line 140, ../../sass/core/anime.scss */
  100% {
    width: 307px;
  }
}

@-moz-keyframes tanUlX {
  /* line 143, ../../sass/core/anime.scss */
  0% {
    width: 0;
  }

  /* line 144, ../../sass/core/anime.scss */
  100% {
    width: 307px;
  }
}

@-o-keyframes tanUlX {
  /* line 147, ../../sass/core/anime.scss */
  0% {
    width: 0;
  }

  /* line 148, ../../sass/core/anime.scss */
  100% {
    width: 307px;
  }
}

@keyframes tanUlX {
  /* line 151, ../../sass/core/anime.scss */
  0% {
    width: 0;
  }

  /* line 152, ../../sass/core/anime.scss */
  100% {
    width: 307px;
  }
}

@-webkit-keyframes rotate {
  /* line 158, ../../sass/core/anime.scss */
  0% {
    -webkit-transform: none;
  }

  /* line 159, ../../sass/core/anime.scss */
  100% {
    -webkit-transform: rotate(-540deg);
  }
}

@-moz-keyframes rotate {
  /* line 162, ../../sass/core/anime.scss */
  0% {
    -moz-transform: none;
  }

  /* line 163, ../../sass/core/anime.scss */
  100% {
    -moz-transform: rotate(-540deg);
  }
}

@-o-keyframes rotate {
  /* line 166, ../../sass/core/anime.scss */
  0% {
    -o-transform: none;
  }

  /* line 167, ../../sass/core/anime.scss */
  100% {
    -o-transform: rotate(-540deg);
  }
}

@keyframes rotate {
  /* line 170, ../../sass/core/anime.scss */
  0% {
    transform: none;
  }

  /* line 171, ../../sass/core/anime.scss */
  100% {
    transform: rotate(-540deg);
  }
}

@-webkit-keyframes rotateP {
  /* line 177, ../../sass/core/anime.scss */
  0% {
    -webkit-transform: rotate(-270deg);
  }

  /* line 178, ../../sass/core/anime.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes rotateP {
  /* line 181, ../../sass/core/anime.scss */
  0% {
    -moz-transform: rotate(-270deg);
  }

  /* line 182, ../../sass/core/anime.scss */
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-o-keyframes rotateP {
  /* line 185, ../../sass/core/anime.scss */
  0% {
    -o-transform: rotate(-270deg);
  }

  /* line 186, ../../sass/core/anime.scss */
  100% {
    -o-transform: rotate(-360deg);
  }
}

@keyframes rotateP {
  /* line 189, ../../sass/core/anime.scss */
  0% {
    transform: rotate(-270deg);
  }

  /* line 190, ../../sass/core/anime.scss */
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotatePp {
  /* line 197, ../../sass/core/anime.scss */
  0% {
    -webkit-transform: rotate(-355deg);
  }

  /* line 198, ../../sass/core/anime.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes rotatePp {
  /* line 201, ../../sass/core/anime.scss */
  0% {
    -moz-transform: rotate(-355deg);
  }

  /* line 202, ../../sass/core/anime.scss */
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-o-keyframes rotatePp {
  /* line 205, ../../sass/core/anime.scss */
  0% {
    -o-transform: rotate(-355deg);
  }

  /* line 206, ../../sass/core/anime.scss */
  100% {
    -o-transform: rotate(-360deg);
  }
}

@keyframes rotatePp {
  /* line 209, ../../sass/core/anime.scss */
  0% {
    transform: rotate(-355deg);
  }

  /* line 210, ../../sass/core/anime.scss */
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotatePps {
  /* line 216, ../../sass/core/anime.scss */
  0% {
    -webkit-transform: rotate(-360deg);
  }

  /* line 217, ../../sass/core/anime.scss */
  100% {
    -webkit-transform: rotate(-355deg);
  }
}

@-moz-keyframes rotatePps {
  /* line 220, ../../sass/core/anime.scss */
  0% {
    -moz-transform: rotate(-360deg);
  }

  /* line 221, ../../sass/core/anime.scss */
  100% {
    -moz-transform: rotate(-355deg);
  }
}

@-o-keyframes rotatePps {
  /* line 224, ../../sass/core/anime.scss */
  0% {
    -o-transform: rotate(-360deg);
  }

  /* line 225, ../../sass/core/anime.scss */
  100% {
    -o-transform: rotate(-355deg);
  }
}

@keyframes rotatePps {
  /* line 228, ../../sass/core/anime.scss */
  0% {
    transform: rotate(-360deg);
  }

  /* line 229, ../../sass/core/anime.scss */
  100% {
    transform: rotate(-355deg);
  }
}

@-webkit-keyframes heightSingle {
  /* line 235, ../../sass/core/anime.scss */
  0% {
    top: 100%;
  }

  /* line 236, ../../sass/core/anime.scss */
  100% {
    top: 94px;
  }
}

@-moz-keyframes heightSingle {
  /* line 239, ../../sass/core/anime.scss */
  0% {
    top: 100%;
  }

  /* line 240, ../../sass/core/anime.scss */
  100% {
    top: 94px;
  }
}

@-o-keyframes heightSingle {
  /* line 243, ../../sass/core/anime.scss */
  0% {
    top: 100%;
  }

  /* line 244, ../../sass/core/anime.scss */
  100% {
    top: 94px;
  }
}

@keyframes heightSingle {
  /* line 247, ../../sass/core/anime.scss */
  0% {
    top: 100%;
  }

  /* line 248, ../../sass/core/anime.scss */
  100% {
    top: 94px;
  }
}
